.footer__column-links{
    display: flex;
    position: relative;
    list-style: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin: auto;  
    text-decoration: none;
    color: white;
}