.footer__social-icon{
    position: relative;
    top: 2px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    justify-content: space-between;
    color: white;
    list-style: none;
    margin-right: 10px;
    padding: 0;
    text-decoration: none;
}