.footer__column-links{
    list-style: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    transition: opacity .2s ease;
}

.footer__column-links:hover {
    opacity: .3;
}