.header__subtitle{
    width: 388px;
    position: absolute;
    bottom: 30px;
    line-height: 25px;
    left: 64px;
    font-weight: normal;
    z-index: 4;
    border-bottom: 0;
    font-size: 18px;
    margin: 0;
}